.trivia-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    color: white;
    width: 100%;
    max-width: 600px;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
}

.trivia-name {
    margin-top: 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.7rem;
    width: 100%;
    background: var(--secondary-color);
    color: white;
}

.trivia-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--accent-color);
}

.btn-add-option {
    align-self: flex-start;
    background: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.315);
    color: white;
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}

.form-actions {
    border-top: 1px solid rgba(255, 255, 255, 0.137);
    padding-top: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;

    .btn-submit {
        background: var(--secondary-color);
        border-top: 1px solid rgba(255, 255, 255, 0.137);
        color: white;
        padding: 1rem 2rem;
        border-radius: 12px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 600;
        transition: background 0.3s ease;

        &:hover {
            background: rgba(22, 22, 22, 0.719);
        }
    }
}