---
import "./style.css";



const { id, label, ...rest } = Astro.props;
---

<div class="container-input">
  <input {id} required  placeholder=" "  {...rest}/>
    <label for={id}>{label}</label>
</div>
