---
import Input from "@components/input/Input.astro";
import TextEditor from "@components/TinyMCE/TextEditor.astro";

const { action,  formId, class: Classname, title, content } = Astro.props;



---

<form id={formId} class={`admin-form ${Classname}`}>
  <Input
    class="title-input"
    id="title"
    name="title"
    type="text"
    label="Título"
    value={title}
  />
  <label class="description-label" for="description">Description</label>
  <TextEditor name="content" id="lesson_content" value={content}></TextEditor>
  <input name="banner_image" type="text" hidden value="./image.jpg">
  <button type="submit">Agregar</button>
</form>

<style>
  .admin-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 9px;
    /* .title-input {
      margin-bottom: 1rem;
    } */
    & textarea {
      resize: none;
      border-radius: 6px;
      background-color: transparent;
      color: white;
      font-size: 1.6rem;
    }
    button {
      padding: 1rem;
      border-radius: 4px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      margin-top: 1rem;
    }
  }
  .description-label {
    margin-top: 1rem;
    color: white;
  }
  .admin-form > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  .courses-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 52%));
    gap: .7rem;
  }
</style>
