---
import Input from "@components/input/Input.astro";
import TextEditor from "@components/TinyMCE/TextEditor.astro";

const user_id = Astro.locals.user.id;

const {
  class: Classname,
  hidden,
  panelId,
} = Astro.props;
---

<script
  src="https://cdn.tiny.cloud/1/pxhnarzaid79ivwj17tvz7jvs8grbkzgarad4m0oe8uondjp/tinymce/8/tinymce.min.js"
  referrerpolicy="origin"
  crossorigin="anonymous"
  is:inline></script>
<section data-id={panelId} {hidden} class={`admin-form ${Classname}`}>
  <form id="create-lesson" >
    <input hidden type="text" name="author_id" value={user_id} />
    <Input
      class="title-input"
      id="title"
      name="title"
      type="text"
      label="Título"
    />
    <label class="description-label" for="description">Description</label>
    <TextEditor name="content" id="lesson_content" />
    <input name="banner_image" type="text" hidden value="./image.jpg" />
    <button type="submit">Agregar</button>
  </form>
</section>

<style>
  .admin-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 9px;
    /* .title-input {
      margin-bottom: 1rem;
    } */
    & textarea {
      resize: none;
      border-radius: 6px;
      background-color: transparent;
      color: white;
      font-size: 1.6rem;
    }
    button {
      padding: 1rem;
      border-radius: 4px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      margin-top: 1rem;
    }
  }
  .description-label {
    margin-top: 1rem;
    color: white;
  }
  .admin-form > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  .courses-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 52%));
    gap: 0.7rem;
  }
</style>
