---
import AdminForm from "../_components/AdminForm.astro";
import CoursesSelector from "../_components/CoursesSelector.astro";
import Layout from "../_Layout.astro";
import ToastAlert from "@components/ToastAlert.astro";

const user_id = Astro.locals.user.id;
---

<Layout buttonContent="Ver Roadmaps" buttonUrl="/dashboard/roadmaps">
  <section class="create-roadmap">
    <h2 class="title-secundary action-title">Crear nuevo roadmap</h2>
    <AdminForm formId="create-roadmap" {user_id} />
    <CoursesSelector />
    <ToastAlert />
  </section>
</Layout>

<script>
  import ToastNotification from "@utils/toastAlerts.controller";

  import { api } from "src/consts";
  const form = document.querySelector("#create-roadmap") as HTMLFormElement;
  const courseForm = document.querySelector("#course-selector") as HTMLFormElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const data = e.target as HTMLFormElement;
    if (!data) {
      return;
    }
    const formdata = new FormData(data);
    const dataObject = Object.fromEntries(formdata.entries());
    try {
      const response = await api("roadmaps")()({
        method: "POST",
        body: JSON.stringify(dataObject),
        credentials: "include",
      });
      if (response) {
        form.reset();
        console.log("Roadmap creado exitosamente:", response.data);
        ToastNotification("Roadmap creado exitosamente", "success");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  });

  courseForm?.addEventListener("submit", async (e)=>{
    e.preventDefault();
    const selectedData = e.target as HTMLFormElement;
    const formDataObject = new FormData(selectedData)
    const courseSelected = Object.fromEntries(formDataObject.entries()).course


    let courses = (document.querySelector("#courses-relation") as HTMLInputElement)
    const coursesData = JSON.parse(courses.value)
    coursesData.push(Number(courseSelected))

    courses.value = JSON.stringify(coursesData)
  } )
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 40vw;
  }
</style>
