---
import TableAdmin from "../_components/TableAdmin.astro";
import Layout from "../_Layout.astro";
import { getFullUrl } from "src/consts";
import { api } from "src/consts";
import type { Roadmap } from "src/types/roadmap.type.ts";
//const api = getFullUrl("/roadmaps");
const cookies = Astro.cookies;
const accessToken = cookies.get("access_token");

const roadmapsData = await api("roadmaps")()({
  method: "GET",
  headers: {
    authorization: `Bearer ${accessToken?.value}`,
  },
});

console.log(roadmapsData);

---

<Layout>
  <section class="roadmaps">
    <h2 class="title-secundary action-title">Roadmaps</h2>
    <TableAdmin data={roadmapsData} resource="roadmaps" />
  </section>
</Layout>

<style>
  .roadmaps {
    padding: 1rem;
    max-width: 1000px;
    min-width: 700px;
  }
</style>
