.hero {
    --margin-top: 0;
    margin-top: var(--margin-top);
    min-height: 100vh;
    width: 100%;
    gap: 2rem;
    display: flex;
    overflow: hidden;
    

    @media (width < 1190px) {
        --margin-top: 10rem;
        margin-bottom: 5rem;
        flex-direction: column-reverse;
        min-height: 100dvh;
        max-width: 800px;
        height: 100%;
    }
    @media (width < 625px) {
        --margin-top: 5rem;
    }
}

.hero__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--main-color);
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 1rem;
    line-height: 1.4;

    @media (width < 1190px) {
        align-items: center;
        text-align: center;
        gap: 4rem;
    }

    
    & h1 {
        line-height: 1.2;
        font-size: 4rem;
        background: -webkit-linear-gradient(rgb(224, 255, 253), var(--light-spot-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.5s ease-in-out;
    }
    
    & p {
        font-size: 1.6rem;
        margin: 1rem 0;
        line-height: 1.6;
    }
    
    .hero__button {
        min-width: 30rem;
        width: fit-content;
        background: var(--light-spot-color);
        box-shadow: 0 0 3px var(--light-spot-color);
    }

    @media (width < 625px) {
        gap: 2rem;
        & h1 {
            font-size: 3rem;
        }
        & p {
            font-size: 1.4rem;
        }
        & .hero__button {
            min-width: 20rem;
            min-height: 4rem;
        }
    }

    @media (height < 850px) {
        gap: 1.5rem;
        & h1 {
            font-size: 2.8rem;
        }
    }
}

.hero__image-container {
    position: relative;
    min-width: 500px;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image {
    z-index: -1;
    --icon-size: 300px;
    width: var(--icon-size);
    height: var(--icon-size);
    /* height: auto; Removing this prevents layout shifts when switching icons*/
    object-fit: contain;
    position: absolute;
    top: -23rem;
    object-fit: contain;
    position: absolute;
    filter: drop-shadow(0 0 9.3px var(--light-spot-color));
    transition: transform 0.5s ease-in-out, filter 2s ease-in-out;
    @media (width < 1190px) {
       position: static;
    }
    @media (height < 850px) {
        --icon-size: 180px;
    }
}



.light {
    background-image: conic-gradient(transparent 0deg, transparent 45deg, var(--bg-color) 45deg, var(--bg-color) 315deg, transparent 310deg, transparent 310deg), radial-gradient(var(--light-spot-color), var(--light-spot-color) 20%, rgba(0, 0, 0, 0.1) 60%, transparent 20%);
    background-size: 100% 100%;
    width: 75vmin;
    height: 75vmin;
    border-radius: 50%;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    filter: brightness(1) blur(11.5px);
    transition: max-height 2s ease-in-out;
}


@keyframes animate_hero_image {
    0% {
        transform: translateY(50%) scale(0);
        filter: drop-shadow(0 0 0 var(--light-spot-color));
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: drop-shadow(0 0 10px var(--light-spot-color));
    }
}

@keyframes animate_hero_image_out {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: drop-shadow(0 0 10px var(--light-spot-color));
    }

    100% {
        transform: translateY(50%) scale(0);
        opacity: 0;
        filter: drop-shadow(0 0 10px var(--light-spot-color));
    }
}


@keyframes light-move {
    0% {
        height: 0vmin;

    }

    100% {
        height: 75vmin;
    }
}

@keyframes light-move-out {
    0% {
        height: 75vmin;
    }

    100% {
        height: 0vmin;

    }
}