.hero {
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
}

.hero__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--main-color);
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

    & h1{
        color: color-mix(in srgb,  white 40%, var(--light-spot-color));
        font-size: 5rem;
    }
    & p{
        font-size: 1.8rem;
        margin: 1rem 0;
        line-height: 1.6;
    }
    .hero__button{
        min-width: 30rem;
        width: fit-content;
        background: var(--light-spot-color);
        box-shadow: 0 0 3px var(--light-spot-color);
    }
}

.hero__image-container {
    position: relative;
    min-width: 600px;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image {
    width: 300px;
    height: 300px;
    height: auto;
    object-fit: contain;
    position: absolute;
    animation: animate_hero_image 5s ease infinite;
}

@keyframes animate_hero_image {
    0% {
        transform: translateY(100%) scale(0);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate3d(1, 1, 0, 1turn) scale(0);
        opacity: 0;
    }
}

.light-spot {
    min-width: 800px;
    height: 0;
    z-index: -1;
    bottom: 0;
    position: absolute;
    animation: animate_hero_light 5s ease infinite;
}
