---
import { Picture } from "astro:assets";
const achievements = import.meta.glob<{ default: ImageMetadata }>(
  "../_assets/*.{jpg,png,svg}"
);
---

<article class="dashboard-card">
  <h3 class="dashboard-box-title title-achievements">Logros desbloqueados</h3>

  <ul class="dashboard-achievements">
    {
      Object.values(achievements)
        .slice(0, 4)
        .map(async (src, index) => {
          const imageResponse = await src();
          const image = imageResponse.default;
          return (
            <li class="achievement-item">
              <Picture
                pictureAttributes={{
                  class: `icon-level icon-level-${index + 1} ${index + 1 === 1 ? "is-active" : ""}`,
                }}
                alt="Ãcono de nivel de aprendizaje"
                formats={["avif", "webp"]}
                src={image}
                width={60}
                height={60}
              />
            </li>
          );
        })
    }
  </ul>
</article>

<style is:inline>
  .dashboard-achievements {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */

    width: 100%;
  }
  .icon-level{
    position: relative;

  }
  .icon-level img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    filter: saturate(0);
  }
  .icon-level.is-active img {
    filter: none;
  }
  .icon-level::before {
    z-index: 0;
    position: absolute;
    top: -80%;
    right: 90%;
    content: "";
    display: block;
    width:100%;
    height: 3px;
    background: grey;
  }
  .icon-level.is-active::before {
    background: #ffd60a;
  }
  .title-achievements {
    margin-bottom: 4rem;
  }
</style>
