---
const progressValue = { value: 32, max: 100, roadmapName: "Frontend" };
---

<article class="dashboard-card">
  <h2 class="dashboard-box-title ">{progressValue.roadmapName}</h2>
  <canvas id="progressChart" class="chart-pie" width="150" height="1500"></canvas>
</article>

<script>
  import { Chart, PieController, ArcElement, Tooltip } from "chart.js";
  Chart.register(PieController, ArcElement, Tooltip);

  const ctx = (
    document.getElementById("progressChart") as HTMLCanvasElement
  ).getContext("2d") as CanvasRenderingContext2D;


  const total_lessons = 58
  const completed = ( 17 / total_lessons) * 100
  const rest = ((total_lessons - 17) / total_lessons) * 100

  const pie = new Chart(ctx, {
    type: "pie",
    data: {
      labels: [
        `Completado: ${completed.toFixed(2)}%`,
        `Restante: ${rest.toFixed(2)}%`
      ],
      datasets: [
        {
          label: "",
          data: [completed.toFixed(2), rest.toFixed(2)],
          backgroundColor: ["#FFD60A", "#001a33"],
          hoverBackgroundColor: ["#FFD60A", "#001a33"],
          borderColor: ["#001a33"]
        },
      ],
    },
    options: {
      cutout: '40%',
    },
    plugins: [
      {
        id: 'tooltip',
        beforeDraw: (chart) => {
          const ctx = chart.ctx;
          const data = chart.data.datasets[0].data;
          const total = data.reduce((a, b) => a + b, 0) ;

          ctx.save();
          ctx.font = 'bold 18px Arial';
          ctx.textAlign = 'center';
            ctx.fillStyle = '#FFD60A';
          ctx.fillText(`${Math.round(completed)}%`, chart.width / 2, chart.height / 2);
          ctx.restore();
        }
      }
    ],
  });
</script>

<style>

  .dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-card-title{
    text-align: left;
    align-self: flex-start;
  }
  .chart-pie {
    margin: 0  auto;
    display: block;
    align-self: flex-end;
    /* width: 150px;
    height: 150px; */
  }
</style>
