main {
  grid-area: main;
  justify-content: flex-start !important;
  position: relative;
  min-height: 100% !important;
  max-width: 100% !important;
  padding: 2rem 1rem;
  overflow-y: auto;
  gap: 20px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text);
}

.dashboard-layout {
  --sidebar-width: 6rem;
  --sidebar-padding: 0rem;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr  auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header sidebar-right"
    "sidebar main sidebar-right";
  width: 100%;
  max-height: 100dvh;
  transition: grid-template-columns 0.3s;
  overflow: hidden;
  
  &:has(> .sidebar.active) {
    --sidebar-width: 300px;
    --sidebar-padding: 2rem;
  }

  @media (max-width: 768px) {
    --sidebar-width: 0;
    --sidebar-padding: 0;

    &:has(> aside:hover) {
      --sidebar-width: 300px;
      --sidebar-padding: 2rem;
    }
  }
}

header {
  grid-area: header;
}

.dashboard-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 100px;
  justify-content: space-between;
  padding: 1.6rem;
  background-color: rgb(24, 7, 46);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-button {
  background-color: var(--button-bg);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.roadmaps {
  padding: 1rem;
  max-width: 1000px;
  min-width: 700px;
}


iconify-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
}

iconify-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff26;
  filter: blur(4px);
  border-radius: 4px;
  animation: blur-out 1.4s forwards;
}

iconify-icon svg {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes blur-out {
  from {
    opacity: 1;
    filter: blur(4px);
  }

  to {
    opacity: 0;
    filter: blur(0);
  }
}
[hidden] {
  display: none !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(6px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}
