---
import Layout from "@layouts/Layout.astro";
import CourseCard from "@components/cards/CourseCard.astro";
import cardsData from "@shared/data/cards-data.json"
interface Card {
  title: string;
  category: string;
  description: string;
  excerpt: string;
  icon: string;
  difficulty: "Fácil" | "Medio" | "Avanzado";
  href: string;
}

const data: Card[] = cardsData as Card[];

const categories = Array.from(new Set(data.map((card) => card.category)));



const tags = [
  { skillArea: "Frontend", color: "0, 242, 255" },
  { skillArea: "Backend", color: "123, 136, 255"},
  { skillArea: "Mobile", color: "10, 249, 89"  },
  { skillArea: "Fullstack", color: "247, 227, 10"  },
  { skillArea: "Ux-Ui", color: "247, 0, 182" },
];
const tag = Object.values(categories).map((tag) => {
  return{
    color: tags.find((skill)=> skill.skillArea.toLocaleLowerCase() === tag)?.color,
    name: tag

  }
});
console.log(tag);

---

<Layout>
  <section class="courses">
    <h1 class="title-secundary">Nuestros cursos</h1>
    <div class="tag-container">
      {
        tag.map((item) => (
          <button
            class="tag"
            data-name={item.name}
            style={`--tag-color: ${item.color};  text-transform: capitalize; `}
          >
            {item.name}
          </button>
        ))
      }
    </div>
    <div class="grid-container">
      {data.map((card) => <CourseCard {...card} />)}
    </div>
  </section>
</Layout>

<script>
  import { getPrevalentColor, waitForImageLoad } from "@utils/get-icons-color";
  import cardsData from "@shared/data/cards-data.json";
  const filterButton = document.querySelector('.tag-container');
  const gridContainer = document.querySelector('.grid-container') as HTMLElement;
  const card = document.querySelector('.card-link')

  filterButton?.addEventListener('click', async (e)=>{
    const element = e.target as HTMLButtonElement;
    if(element.tagName !== 'BUTTON'){
      return
    }

    gridContainer.innerHTML = ""
    const categoryName = element.dataset.name as string;

    // const savedCategory = localStorage.getItem(categoryName);
    // if(!savedCategory ){
    //   localStorage.setItem(categoryName, categoryName);
    // }

    // const fallbackCards = !savedCategory ? cardsData : JSON.parse(savedCategory);

    // console.log(savedCategory);

    const filterCategories =  getCourses(categoryName)
    for (let index = 0; index < filterCategories.length; index++) {
      const element = filterCategories[index];
      await RenderCard(element);
    }
  });



  function getCourses(categoryName: string){
    return cardsData.filter(course => course.category === categoryName);
  }
  async function RenderCard(element : any){
    const clonedCard = card?.cloneNode(true) as HTMLElement;
    const canvas = clonedCard.querySelector('canvas') as HTMLCanvasElement;
    const title = clonedCard.querySelector('h3') as HTMLElement;
    const description = clonedCard.querySelector('p') as HTMLElement;
    const icon = clonedCard.querySelector('img') as HTMLImageElement;


    title.innerText = element.title;
    description.innerText = element.excerpt;
    icon.src = `${element.icon}`;
    const getDefaultStyles = clonedCard.getAttribute('style');
    clonedCard.removeAttribute('style');
    gridContainer.appendChild(clonedCard);
    await waitForImageLoad(icon);

    const levelColor = await getPrevalentColor({
      img: icon,
      x: 500,
      y: 70,
      canvas,
    });

    clonedCard.style.setProperty('--color-render', levelColor);
    // console.log(clonedCard)
  }


</script>

<style>
  .courses {
    width: 100%;
    max-width: 1100px;
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .tag-container {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .tag {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(var(--tag-color));
    background: rgba(var(--tag-color), 0.1);
    border: 1px solid rgba(var(--tag-color), 0.2);
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    gap: 2.4rem;
  }
</style>
