---
import Layout from "../../layouts/Layout.astro";
import CoursesCardsGrid from "./_components/courses-cards/CoursesCardsGrid.astro";

---

<Layout>
  <main class="container">
    <CoursesCardsGrid />
    <!-- INGRESA TUS COMPONENTES DE PRUEBA AQUÃ ðŸ‘‡ -->



  </main>
</Layout>


<style>
   .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    padding-top: 80px;
  }
</style>
