* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-spot-color: #f1f1f1;
    --main-color: #e2e2e2;
    --secondary-color: #291e3d;
    --card-roadmap-bg: oklch(0% 0 0 / 0.527);
    --button-bg: #c762f0;
    /* --bg-color: #13161c; */
    --bg-color: #1d0936;
    --text-color: #dedede;
    --accent-color: #04e9b0;
    --text-gradient: linear-gradient(90deg, #33FF76 0%, #58ECFF 100%);
    --error-color: #f85149;
    --success-color: #85e89d;
    --link-color: rgb(89, 213, 255);


    /* Propuesta 1 */
    /* --text: #e8dcf7;
    --background: #322544;
    --primary: #b185e3;
    --secondary: #8c2057;
    --accent: #d1354a; */

    /* Propuesta 2 */
    /* --text-50: hsl(261, 68%, 95%);
    --text-100: hsl(261, 69%, 90%);
    --text-200: hsl(261, 67%, 80%);
    --text-300: hsl(261, 67%, 70%);
    --text-400: hsl(261, 67%, 60%);
    --text-500: hsl(261, 67%, 50%);
    --text-600: hsl(261, 67%, 40%);
    --text-700: hsl(261, 67%, 30%);
    --text-800: hsl(261, 67%, 20%);
    --text-900: hsl(261, 69%, 10%);
    --text-950: hsl(261, 68%, 5%);

    --background-50: hsl(266, 62%, 95%);
    --background-100: hsl(264, 65%, 90%);
    --background-200: hsl(264, 63%, 80%);
    --background-300: hsl(264, 63%, 70%);
    --background-400: hsl(264, 63%, 60%);
    --background-500: hsl(264, 63%, 50%);
    --background-600: hsl(264, 63%, 40%);
    --background-700: hsl(264, 63%, 30%);
    --background-800: hsl(264, 63%, 20%);
    --background-900: hsl(264, 65%, 10%);
    --background-950: hsl(263, 62%, 5%);

    --primary-50: hsl(265, 68%, 95%);
    --primary-100: hsl(266, 69%, 90%);
    --primary-200: hsl(265, 67%, 80%);
    --primary-300: hsl(265, 67%, 70%);
    --primary-400: hsl(265, 67%, 60%);
    --primary-500: hsl(265, 67%, 50%);
    --primary-600: hsl(265, 67%, 40%);
    --primary-700: hsl(265, 67%, 30%);
    --primary-800: hsl(265, 67%, 20%);
    --primary-900: hsl(266, 69%, 10%);
    --primary-950: hsl(265, 68%, 5%);

    --secondary-50: hsl(106, 68%, 95%);
    --secondary-100: hsl(106, 69%, 90%, 0.1);
    --secondary-200: hsl(106, 67%, 80% );
    --secondary-300: hsl(106, 67%, 70%);
    --secondary-400: hsl(106, 67%, 60%);
    --secondary-500: hsl(106, 67%, 50%);
    --secondary-600: hsl(106, 67%, 40%);
    --secondary-700: hsl(106, 67%, 30%);
    --secondary-800: hsl(106, 67%, 20%);
    --secondary-900: hsl(106, 69%, 10%);
    --secondary-950: hsl(106, 68%, 5%);

    --accent-50: hsl(166, 68%, 95%);
    --accent-100: hsl(166, 69%, 90%);
    --accent-200: hsl(167, 67%, 80%);
    --accent-300: hsl(167, 67%, 70%);
    --accent-400: hsl(167, 67%, 60%);
    --accent-500: hsl(167, 67%, 50%);
    --accent-600: hsl(167, 67%, 40%);
    --accent-700: hsl(167, 67%, 30%);
    --accent-800: hsl(167, 67%, 20%);
    --accent-900: hsl(166, 69%, 10%);
    --accent-950: hsl(169, 68%, 5%);

 */

    --bg-color: #010d1f;
    --secondary-color: #ffffff1c;
    --tertiary-color: #003566;
    --accent-color: #FFD60A;

}

html {
    margin: 0;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 1.6rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

li {
    list-style: none;
}

p {
    color: white;

}

button {
    cursor: pointer;
    border: none;

}

.flex-config {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header__menu {
    gap: 4rem !important;
}

.title-primary {
    background: var(--accent-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-secundary {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submenu__item--secondary a,
.submenu__item--tertiary a {
    padding: 2rem !important;
}


.submenu a,
.subsubmenu a {
    height: 2rem !important;
}


/* width */
::-webkit-scrollbar{
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}