*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #e2e2e2;
    --secondary-color: #1A073D;
    --bg-color: #11032b;
    --text-color: #dedede;
    --accent-color: #04e9b0;
    --error-color: #f85149;
    --success-color: #85e89d;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}
