@import './table.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-spot-color: #f1f1f1;
    --main-color: #e2e2e2;
    --secondary-color: #291e3d;
    --card-roadmap-bg: oklch(0% 0 0 / 0.527);
    --button-bg: #c762f0;
    /* --bg-color: #13161c; */
    --bg-color: #1d0936;
    --text-color: #dedede;
    --accent-color: #04e9b0;
    --text-gradient: linear-gradient(90deg, #33FF76 0%, #58ECFF 100%);
    --error-color: #f85149;
    --success-color: #85e89d;
    --link-color: rgb(89, 213, 255);


    --bg-color: #010d1f;
    --secondary-color: #ffffff1c;
    --tertiary-color: #003566;
    --accent-color: #FFD60A;

}

html {
    margin: 0;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 1.6rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

li {
    list-style: none;
}

p {
    color: white;

}

button {
    cursor: pointer;
    border: none;

}

.flex-config {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header__menu {
    gap: 4rem !important;
}

.title-primary {
    background: var(--accent-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-secundary {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submenu__item--secondary a,
.submenu__item--tertiary a {
    padding: 2rem !important;
}


.submenu a,
.subsubmenu a {
    height: 2rem !important;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
