* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-spot-color: #f1f1f1;
    --main-color: #e2e2e2;
    --secondary-color: #1A073D;
    /* --bg-color: #13161c; */
    --bg-color: #1c013d;
    --text-color: #dedede;
    --accent-color: #04e9b0;

    --error-color: #f85149;
    --success-color: #85e89d;
    --link-color: rgb(89, 213, 255);
}

html {
    margin: 0;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.main {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

li {
    list-style: none;
}

.flex-config {
    display: flex;
    align-items: center;
    justify-content: center;
}