.admin-table {
    width: 100%;
    border-collapse: collapse;
    background: var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(99, 99, 99, 0.1);
    color: rgb(194, 191, 191);

    & th,
    td {
        padding: 12px 16px;
        text-align: left;
        border-bottom: 1px solid #4b4b4ba9;
    }

    & th {
        background: #0c1722;
        font-weight: 600;
        color: var(--accent-color);
    }

    & tr:hover {
        background: #393d41;
    }
}


.table-container {
    width: 100%;
    padding: 1rem;
    overflow-x: auto;

    @media (width < 768px) {
        min-width: 100%;
    }
}

iconify-icon {
    pointer-events: none;
}


.edit-btn,
.delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
}

.edit-btn {
    background: transparent;
    color: #00ff5d;
}


.delete-btn {
    background: transparent;
    color: white;
}

/* .edit-btn:hover {
    background: #111111;
    } */
.delete-btn:hover {
    color: rgb(241, 7, 7);

    /* background: #111111; */
}

.delete-btn:hover .icon-trash {
    transform: rotate(20deg);
}