---
import Input from "@components/input/Input.astro";

const { action, user_id, formId, class: Classname } = Astro.props;
---

<form id={formId} class={`admin-form ${Classname}`} {action}>
  <input hidden type="text" name="user_id" value={user_id} />
  <Input
    class="title-input"
    id="title"
    name="title"
    type="text"
    label="Título"
  />
  <input class="slug" id="slug" type="text" name="slug"/>
  <label class="description-label" for="description">Description</label>
  <textarea name="description" id="description" rows="5"></textarea>
  <button type="submit">Agregar</button>
</form>
<script>
  const titleInput = document.getElementById("title") as HTMLInputElement;
  const slugInput = document.getElementById("slug") as HTMLInputElement;

  function generateSlug(text: string) {
    return text
      .toString()
      .toLowerCase()
      .trim()
      .replace(/\s+/g, "-")   
  }

  titleInput?.addEventListener("keyup", (e) => {
    const target = e?.target as HTMLInputElement;
    const slug = generateSlug(target?.value || "");
    slugInput.value = slug;
  });

</script>

<style>
  .admin-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 9px;
    /* .title-input {
      margin-bottom: 1rem;
    } */
    & textarea {
      resize: none;
      border-radius: 6px;
      background-color: transparent;
      color: white;
      font-size: 1.6rem;
    }
    button {
      padding: 1rem;
      border-radius: 4px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      margin-top: 1rem;
    }
  }
  .description-label {
    margin-top: 1rem;
    color: white;
  }
  .admin-form > *:not(:last-child) {
    margin-bottom: 2rem;
  }
</style>
