---

const { labelText, id="", class: ClassName, ...rest } = Astro.props;
---

<div class="input-container">
  <label for={id} class="input-label">
    {labelText}
  </label>
  <input id={id} class={ClassName} {...rest} />
</div>

<style>
  .input-container {
    position: relative;
    padding:.5rem;
  }
  label {
    position: absolute;
    font-size: 1.4rem;
    top: 1rem;
    left: 0.5rem;
    transition: top 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(30 30 30);
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
    .input-container:focus-within label {
    top: -2rem;
  }
    .input-container:focus-within input::-webkit-input-placeholder  {
    color: rgb(131, 131, 131);
  }
  input:focus {
    outline: none;
    color: white;
  }
</style>
