---
import data from "@shared/data/roadmap.mock.json";
import RoadmapCard from "./components/roadmap-card/RoadmapCard.astro";
---

<section class="roadmaps">
  <h2 class="title-secundary">Roadmaps</h2>
  <div class="roadmap-container">
    {data.map((roadmap) => <RoadmapCard {...roadmap} />)}
  </div>
</section>

<style>
  .roadmaps {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .roadmap-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
