---
import Layout from "../_Layout.astro";
import CourseForm from "./_components/CourseForm.astro";
const user_id = Astro.locals.user.id;
---

<Layout buttonContent="Ver cursos" buttonUrl="/dashboard/cursos">
  <section class="create-roadmap">
    <h2 class="title-secundary action-title">Crear nuevo curso</h2>
    <CourseForm formId="create-course" {user_id} />
  </section>
</Layout>

<script>
  import ToastNotification from "@utils/toastAlerts.controller";
  import { actions } from "astro:actions";

  const form = document.querySelector("#create-course") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const data = e.target as HTMLFormElement;
    if (!data) {
      return;
    }
    const formdata = new FormData(data);
    const dataObject = Object.fromEntries(formdata.entries());

    const { error } = await actions.api({
      resource: "courses",
      data: { ...dataObject},
      method: "POST",
    })

    if (error) {
      ToastNotification(" Falló la creación del curso", "error");
      return;
    }

    form.reset();
    ToastNotification("Curso creado exitosamente", "success");
    
  });
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 40vw;
  }
</style>
