---
import ToastAlert from "@components/ToastAlert.astro";
import AdminForm from "../_components/AdminForm.astro";
import Layout from "../_Layout.astro";
import CourseForm from "./_components/CourseForm.astro";
const user_id = Astro.locals.user.id;
---

<Layout buttonContent="Ver cursos" buttonUrl="/dashboard/cursos">
  <section class="create-roadmap">
    <h2 class="title-secundary action-title">Crear nuevo curso</h2>
    <CourseForm formId="create-course" {user_id} />
    <ToastAlert />
  </section>
</Layout>

<script>
  import ToastNotification from "@utils/toastAlerts.controller";
import { api } from "src/consts";
  const form = document.querySelector("#create-course") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const data = e.target as HTMLFormElement;
    if (!data) {
      return;
    }
    const formdata = new FormData(data);
    const dataObject = Object.fromEntries(formdata.entries());

    try {
      const response = await api("courses")()({
        method: "POST",
        body: JSON.stringify(dataObject),
        credentials: "include",
      });

      if (response) {
        form.reset();
        console.log("Curso creado exitosamente:", response.data);
        ToastNotification("Roadmap creado exitosamente", "success");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  });
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 40vw;
  }
</style>
