 .dashboard-bento {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: minmax(25rem, 40%) minmax(30%, 40%) 20%;
    justify-content: start;
    gap: 2rem;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }
  .dashboard-box {
    overflow: hidden;
    background: linear-gradient(
      180deg,
      #592eaf,
      rgb(23, 15, 39)
    );
    padding: 1.5rem;
    border-radius: 12px;
    border: 2px solid #FFD60A;
    height: 100%;
    min-height: 232px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .dashboard-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .dashboard-box-title {
    color: var(--accent-color);
  }
  .dashboard-box ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
