---
import LayoutStudents from "../_LayoutStudents.astro";
import Achievements from "./_components/Achivements.astro";
import StudentProgress from "./_components/StudentProgress.astro";
const { fullname } = Astro.locals.user;

import "./index.css";
---

<header>
  <meta name="color-scheme" content="dark" />
</header>

<LayoutStudents>
  <h1>Bienvenid@ {fullname}</h1>
  <section class="dashboard-bento">
    <div class="dashboard-box">
      <Achievements />
    </div>
    <div class="dashboard-box">
      <StudentProgress />
    </div>
    <div class="dashboard-box">
      <h1>patata</h1>
    </div>
  </section>
</LayoutStudents>
