---
import LessonsForm from "./_components/LessonsForm.astro";
import TriviaEditor from "./_components/TriviaEditor.astro";
import Layout from "../_Layout.astro";
const user_id = Astro.locals.user.id;

const TABS = [
  {
    title: "Video",
    component: LessonsForm,
    icon: "mingcute:settings-2-fill",
  },
  {
    title: "Trivia",
    component: TriviaEditor,
    icon: "mingcute:settings-2-fill",
  },
];
---

<Layout buttonContent="Ver Lecciones" buttonUrl="/dashboard/lecciones">
  <section class="create-roadmap">
    <h2 class="title-primary action-title">Crear nueva lección</h2>
    <!-- <LessonsForm formId="create-lesson" {user_id} /> -->
    <div class="tabs">
      {
        TABS.map((tab, index) => (
          <button
            class={`tab-button ${tab.title === "Video" ? "is-active" : ""}`}
            id={`panel-${index}`}
          >
            {tab.title}
          </button>
        ))
      }
    </div>
    {
      TABS.map(({ title, ...rest }, index) => {
        return (
          <rest.component
            class="panel"
            panelId={`panel-${index}`}
            hidden={title === "Video" ? false : true}
          />
        );
      })
    }
  </section>
</Layout>

<script>
  import toastNotificacion from "@utils/toastAlerts.controller";
import { actions } from "astro:actions";
import "./_logic/tabs.ts";
  const lessonForm = document.getElementById("create-lesson");
  lessonForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formdata = new FormData(e.target as HTMLFormElement);
    const dataObject = Object.fromEntries(formdata.entries());

    // @ts-ignore
    const textAreaContent = tinymce?.get("lesson_content").getContent();

    const { error } = await actions.api({
      resource: "lessons",
      data: { ...dataObject, content: textAreaContent },
      method: "POST",
    });

    if (error) {
      toastNotificacion("Fallo la creación de la lección", "error");
      return;
    }

    toastNotificacion("Leccion creada con exito", "success");
  });
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 80vw;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background: oklch(0.65 0.01 16.21 / 0.53);
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
  }

  .tab-button {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-weight: bold;
    background: rgba(12, 19, 26, 0.512);
    color: rgba(255, 255, 255, 0.732);
    border: 1px solid #e6e0ee14;
  }
  .tab-button.is-active {
    color: var(--accent-color);
    background: rgb(46, 57, 68);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
