---
import LessonsForm from "./_components/LessonsForm.astro";
import Layout from "../_Layout.astro";

const user_id = Astro.locals.user.id;
---

<Layout buttonContent="Ver cursos" buttonUrl="/dashboard/lecciones">
  <section class="create-roadmap">
    <h2 class="title-secundary action-title">Crear nuevo roadmap</h2>
    <LessonsForm formId="create-roadmap" {user_id} />
  </section>
</Layout>
<script>
  import ToastNotification from "@utils/toastAlerts.controller";
import { httpPost } from "src/utils/http";
  const form = document.querySelector("#create-roadmap") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const data = e.target as HTMLFormElement;
    if (!data) {
      return;
    }
    const formdata = new FormData(data);
    const dataObject = Object.fromEntries(formdata.entries());
    try {
      const response = await httpPost("/lesson", dataObject);
      if (response.ok) {
        form.reset();
         ToastNotification("Lección creada exitosamente", "success");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  });
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 80vw;
  }
</style>
