---
import LessonsForm from "./_components/LessonsForm.astro";
import Layout from "../_Layout.astro";

const user_id = Astro.locals.user.id;
---

<Layout buttonContent="Ver Lecciones" buttonUrl="/dashboard/lecciones">
  <section class="create-roadmap">
    <h2 class="title-secundary action-title">Crear nueva lección</h2>
    <LessonsForm formId="create-lesson" {user_id} />
  </section>
</Layout>
<script>
  import { actions } from 'astro:actions'
  import toastNotificacion from '@utils/toastAlerts.controller'
  
  const lessonForm = document.getElementById("create-lesson");

  lessonForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formdata = new FormData(e.target as HTMLFormElement);
    const dataObject = Object.fromEntries(formdata.entries());
    
    // @ts-ignore
    const textAreaContent = tinymce?.get("lesson_content").getContent();
    
    const { error } = await actions.api({
      resource: "lessons",
      data: { ...dataObject, content: textAreaContent },
      method: "POST",
    })

    if (error) {
      toastNotificacion("Fallo la creación de la lección", "error");
      return;
    }

    toastNotificacion("Leccion creada con exito", "success");

  });
</script>

<style>
  .create-roadmap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 80vw;
  }
</style>
