---
import TableAdmin from "../_components/TableAdmin.astro";
import Layout from "../_Layout.astro";
import { api } from "src/consts";
const cookies = Astro.cookies;
const accessToken = cookies.get("access_token");

const coursesData = await api("lessons")()({
  method: "GET",
  headers: {
    authorization: `Bearer ${accessToken?.value}`,
  },
});
---

<Layout buttonContent="Agregar Lección" buttonUrl="/dashboard/lecciones/create">
  <section class="roadmaps">
    <h2 class="title-secundary action-title">Cursos</h2>
    <TableAdmin data={coursesData} resource="lessons"  path="lecciones" />
  </section>
</Layout>
