---
import "./style.css";

interface Props {
  id: string;
  name: string;
  type: "password" | "text" | "email";
  label: string;
}

const { id, name, type, label } = Astro.props;
---

<div class="container-input">
  <input {...{ id, name, type }} required placeholder=" " />
  <label for={id}>{label}</label>
</div>
