---
import Layout from "@layouts/Layout.astro";
import LayoutStudents from "@pages/dashboard/_LayoutStudents.astro";
const { curso, leccion } = Astro.params;

import sampleData from "./lessonsSampleData.json";
import LessonAccordion from "./_components/LessonAccordion.astro";

interface Lessons {
  [key:string]: Lesson[]
}

type Lesson = {
  slug: string;
  title: string;
}
const lessonData = sampleData as Lessons;

---
<LayoutStudents>
  <section>
    <video src=""
    width="1080"
    height="720"
    poster="/images/portadad.jpg"
    controls

    ></video>
  <h1 class="lesson-title">Leccion {leccion} </h1>
  <p lesson-description>patata</p>
</section>
  <aside slot="sidebar-right" class="sidebar-resources">
    {Object.keys(lessonData).map((section: string)=>(
      <LessonAccordion sectionTitle={section}  lessonList={lessonData[section]}/>
    ) )}

  </aside>
</LayoutStudents>

<style>



.sidebar-resources {
    --sidebar-min-width: 35rem;
    --sidebar-padding: 2rem;
    min-width: var(--sidebar-min-width);
    grid-area: sidebar-right;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #e6e0ee14;ß
}
</style>
