---
const { pathName } = Astro.props;

const menu = [
  {
    href: "/dashboard/",
    icon: "mage:dashboard-3-fill",
    text: "Dashboard",
  },
  {
    href: "/dashboard/roadmaps",
    icon: "material-symbols:conversion-path",
    text: "Roadmaps",
  },
  {
    href: "/dashboard/cursos",
    icon: "solar:layers-bold-duotone",
    text: "Cursos",
  },
  {
    href: "/dashboard/lecciones",
    icon: "mynaui:code-waves-solid",
    text: "Lecciones",
  },
  {
    href: "/dashboard/certificados",
    icon: "duo-icons:certificate",
    text: "Certificados",
  }
]
---

<nav class="sidebar-menu">
  <ul>
    {
      menu.map((item) => (
        <li>
          <a
            class={`menu-link ${pathName === item.href ? "active" : ""}`}
            href={item.href}
            data-astro-prefetch="hover"
          >
            <iconify-icon
              icon={item.icon}
              width="24"
              height="24"
              style="color: #14e665"
            />
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
