---
const { pathName, menu } = Astro.props;
type MenuItem = {
  href: string
  icon: string
  text: string
};
---

<nav class="sidebar-menu">
  <ul>
    {
      menu.map((item: MenuItem) => (
        <li>
          <a
        class={`menu-link ${item.href === pathName ? "active" : ""}`}
            href={item.href}
            data-astro-prefetch="hover"
          >
            <iconify-icon
              icon={item.icon}
              width="24"
              height="24"
              style="color: var(--accent-color)"
            />
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
