---
import BaseHead from "./BaseHead.astro";
const { title, description, image = "/images/portada.png" } = Astro.props;
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import { menuItems } from "src/shared/data/nav-menu.js";
import Header from "@sofidevo/astro-dynamic-header/Header";
import Button from "@components/Button.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header
      logoSrc="/images/sofilogo.png"
      logoWidth="50px"
      menuItems={menuItems}
      headerType="fullscreen"
    >
      <Button
        slot="slot-desktop"
        class={`button-desktop login-button `}
        href="/access/login"
        server:defer
      >

      </Button>
      <Button
        slot="slot-panel"
        class={`button-mobile login-button`}
        href="/access/login"
        server:defer
      >
      </Button>
    </Header>
    <main>
      <slot />
    </main>
    <Footer/>
  </body>
</html>

<style is:inline>
  main{
    max-width: 1200px;
    --main-padding-x: 0;
    padding-bottom: 3rem;
    padding-left: var(--main-padding-x);
    padding-right: var(--main-padding-x);
  }
  .button-base {
    background: linear-gradient(to top, rgb(51, 137, 235, 0.6), transparent);
    border: solid 1px rgb(51, 137, 235, 0.5);
  }
  .login-button {
    background: linear-gradient(to top, var(--light-spot-color), transparent);
    border: solid 1px rgb(51, 137, 235, 0.1);
    transition:
      background 0.3s ease,
      border 0.3s ease;
    &:hover {
      background: linear-gradient(to top, rgb(51, 137, 235, 0.6), transparent);
      border: solid 1px rgb(51, 137, 235, 0.5);
    }
  }
  .button-desktop {
    display: inline-flex;
    @media (width < 768px) {
      display: none;
    }
  }

  /* Media Query for Main */
  @media (width < 940px) {
    main {
      --main-padding-x: 1rem;
    }
  }
</style>
