---
import Input from "../components/Input.astro";
import "./form.css";
---
<form method="post">
  <Input
    type="email"
    labelText="Email"
    id="email"
    required
    autocomplete
    placeholder="Ingresa email"
    errorMessage="El nombre email es requerido"
  />
  <Input
    type="text"
    id="fullname"
    labelText="Nombre"
    required
    placeholder="Ingresa tu nombre completo"
    minlength="3"
    errorMessage="El nombre usuario no cumple con el formato requerido"
  />
  <Input
    type="text"
    id="username"
    labelText="Nombre de usuario"
    required
    placeholder="Ingresa tu nombre de usuario"
    minlength="3"
    errorMessage="El nombre de usuario no cumple con el formato requerido"
  />
  <Input
    type="password"
    id="password"
    labelText="Contraseña"
    required
    placeholder="Ingresa tu contraseña"
    minlength="6"
    errorMessage="La contraseña debe tener al menos 6 caracteres"

  />
  <button class="submit-button"  type="submit">Register</button>
</form>

<script>
  import { getFullUrl } from "src/consts.ts";
  const localURL = getFullUrl('/auth/register');

  const sendButton = document.querySelector("button[type='submit']");
  const form = document.querySelector("form");

  function clearErrorMessage(fieldId: string) {
    const errorSpan = document.querySelector(
      `.error-message.${fieldId}`
    ) as HTMLSpanElement;
    if (errorSpan) {
      errorSpan.classList.remove("active");
    }
  }

  // Agregar event listeners para limpiar errores al escribir
  const inputs = document.querySelectorAll("input");
  inputs.forEach((input) => {
    input.addEventListener("input", () => {
      clearErrorMessage(input.id);
    });
  });

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);

    // const response = await fetch(`${BASE_API_URL}/auth/register`, {
    const response = await fetch(localURL.toString(), {
      method: "POST",
      body: formData,
    });

    if (response.ok) {
      const data = await response.json();
      alert("User registered successfully");
      form.reset();
    } else {
      console.error("Error registering user:", response.statusText);
      const errorData = await response.json();
      console.log("error:", errorData);
      const errorMapping: Record<string, { field: string; message: string }> = {
        "El correo electrónico ya está registrado.": {
          field: "email",
          message: "El correo electrónico ya está registrado.",
        },
        "El email no es válido.": {
          field: "email",
          message: "El email no es válido.",
        },
        "El nombre de usuario ya está en uso.": {
          field: "username",
          message: "El nombre de usuario ya está en uso.",
        },
      };
      const errorConfig = errorMapping[errorData.message as string];
      if (errorConfig) {
        const errorSpan = document.querySelector(
          `.error-message.${errorConfig.field}`
        ) as HTMLSpanElement;
        if (errorSpan) {
          errorSpan.classList.add("active");
          errorSpan.textContent = errorConfig.message;
        }
      }
    }
  });
</script>
