---
import Register from "@context/auth/views/Register.astro";
import Layout from "@layouts/Layout.astro";
const formTitle = "Register";
import "./access.css"
---

<Layout title="Acceder" description="Create a new account">
  <section class="access-container">
    <h1 class="acces-title">{formTitle}</h1>
    <Register />
  </section>
</Layout>
