---
import Layout from "@layouts/Layout.astro";
import Auth from "@context/auth/views/Auth.astro";
import "./access.css";
---
<Layout title="Login">
  <main>
    <div class="access-container">
      <h1 class="acces-title">Login Page</h1>
      <Auth />
    </div>
  </main>
</Layout>