---
import Layout from "@layouts/Layout.astro";
import Form from "./_components/form/Form.astro";
import Input from "@components/input/Input.astro";
import { isLoggedIn } from "src/utils/auth/isLoggedIn";

const user = await isLoggedIn( Astro.cookies );

if (user) return  Astro.redirect("/dashboard");
---

<Layout title="Login">
  <Form
    action="login"
    method="post"
    title="Bienvenido de nuevo"
    description="Ingresa tus credenciales para acceder al dashboard."
  >
    <Input id="email" name="email" type="email" label="Correo" />
    <Input id="password" name="password" type="password" label="Contraseña" />
  </Form>
</Layout>

<script>
import ToastNotification from "@utils/toastAlerts.controller";
import { ERROR_MESSAGES } from "./_consts.ts";

const urlParams = new URLSearchParams(window.location.search);
const errorKey = urlParams.get('error') as keyof typeof ERROR_MESSAGES;

if (errorKey && ERROR_MESSAGES[errorKey])
  ToastNotification(ERROR_MESSAGES[errorKey], 'error');

</script>
