---
import Layout from "@layouts/Layout.astro";
import Form from "./components/form/Form.astro";
import Input from "./components/input/Input.astro";
---

<Layout title="Login">
  <Form
    action="login"
    method="post"
    title="Bienvenido de nuevo"
    description="Ingresa tus credenciales para acceder al dashboard."
  >
    <Input id="email" name="email" type="email" label="Correo" />
    <Input id="password" name="password" type="password" label="Contraseña" />
  </Form>
</Layout>
